h1, h2, h3, h4, h5, h6, p {
    color:white;
}
.title {
text-align:center;
font-size:70px;
        color:rgb(85, 31, 0);
    background-color:rgb(255, 123, 0);
width:100vw;
margin:0;
}
body {
      margin: 0;
  font-size: 1rem;
  background-color:black;
}
p {
    margin:0;
}
.navbar {
    text-align:center;
    background-color:rgb(27, 0, 43);
    margin:5px;
    font-size:40px;
}
.mainnav {
    text-align:center;
    background-color:rgb(255, 136, 0);
}
button {
 color:rgb(0, 0, 58);
 background-color:rgb(255, 136, 0);
 font-size:50px;
 margin:0;
 border:0;
}
button:hover {
 background-color:rgb(255, 165, 63);
 
}