h1, h2, h3, h4, h5, h6, p {
    color:rgb(255, 255, 255);
}
h1, h2 {
    font-family:Lucida Handwriting, cursive;
}
.title {
text-align:center;
font-size:70px;
        color:rgb(85, 31, 0);
    background-color:rgb(255, 123, 0);
width:100vw;
margin:0;
}
body {
      margin: 0;
  font-size: 1rem;
  background-color:rgb(0, 0, 0);
}
p {
    margin:0;
}
.navbar {
    text-align:center;
    background-color:rgb(66, 0, 66);
    margin:5px;
    font-size:40px;
}
.mainnav {
    text-align:center;
    background-color:rgb(255, 136, 0);
}
button {
 color:rgb(0, 0, 58);
 background-color:rgb(255, 136, 0);
 font-size:50px;
 margin:0;
 border:0;
     font-family:Lucida Handwriting, cursive;
}
button:hover {
 background-color:rgb(255, 165, 63);
 
}
.title2 {
text-align:center;
font-size:60px;
        color:rgb(255, 215, 192);
    background-color:rgb(73, 35, 0);
width:100vw;
margin:0; }
h2 {
    text-align:center;
}
.canvas {
  width: 500px;
  height: 600px;
  background-color: #4d0f00;
  overflow: hidden;
  filter: blur(2px);
}

.frame {
  border: 50px solid black;
  width: 500px;
  padding: 50px;
  margin: 20px auto;
}

.one {
  width: 425px;
  height: 150px;
  background-color: #efb762;
  margin: 20px auto;
  box-shadow: 0 0 3px 3px #efb762;
  border-radius: 9px;
  transform: rotate(-0.6deg);
}

.two {
  width: 475px;
  height: 200px;
  background-color: #8f0401;
  margin: 0 auto 20px;
  box-shadow: 0 0 3px 3px #8f0401;
  border-radius: 8px 10px;
  transform: rotate(0.4deg);
}

.one, .two {
  filter: blur(1px);
}

.three {
  width: 91%;
  height: 28%;
  background-color: #b20403;
  margin: auto;
  filter: blur(2px);
  box-shadow: 0 0 5px 5px #b20403;
  border-radius: 30px 25px 60px 12px;
  
}