h1, h2, h3, h4, h5, h6, p {
    color:rgb(255, 255, 255);
}
h1, h2, h3 {
    font-family:Lucida Handwriting, cursive;
}
.title {
text-align:center;
font-size:70px;
        color:rgb(138, 0, 0);
    background-color:rgb(255, 0, 0);
width:100vw;
margin:0;
}
body {
      margin: 0;
  font-size: 1rem;
  background: linear-gradient(to top, #e20000, #000000);
  width:100vw;
  height:100vh;

}
p {
    margin:0;
}
.navbar {
    text-align:center;
    background-color:#4d0000;
    margin:5px;
    font-size:40px;
}
.mainnav {
    text-align:center;
    background-color:#660000;
}
button {
 color:rgb(0, 0, 58);
background-color:#660000;
 font-size:50px;
 margin:0;
 border:0;
font-family:Lucida Handwriting, cursive;
}
button:hover {
 background-color:#850000;
 font-size:60px;
 border-radius:90%;
}
.title2 {
text-align:center;
font-size:60px;
        color:rgb(59, 0, 0);
    background-color:#c40000;
width:100vw;
margin:0; }
h2 {
    text-align:center;
}
h3 {
    text-align:center;
}
.container {
  background-color: rgb(255, 255, 255);
  padding: 10px 0;
}

.marker {
  width: 200px;
  height: 25px;
  margin: 10px auto;
}

.cap {
  width: 60px;
  height: 25px;
}

.sleeve {
  width: 110px;
  height: 25px;
  background-color: rgba(255, 255, 255, 0.5);
  border-left: 10px double rgba(0, 0, 0, 0.75);
}

.cap, .sleeve {
  display: inline-block;
}

.red {
  background: linear-gradient(rgb(122, 74, 14), rgb(245, 62, 113), rgb(162, 27, 27));
  box-shadow: 0 0 20px 0 rgba(83, 14, 14, 0.8);
}

.green {
  background: linear-gradient(#55680D, #71F53E, #116C31);
  box-shadow: 0 0 20px 0 #3B7E20CC;
}

.blue {
  background: linear-gradient(hsl(186, 76%, 16%), hsl(223, 90%, 60%), hsl(240, 56%, 42%));
  box-shadow: 0 0 20px 0 blue;
}

/*Cheese Burger*\