h1, h2, h3, h4, h5, h6, p {
    color:rgb(255, 255, 255);
}
h1, h2, h3 {
    font-family:Lucida Handwriting, cursive;
}
.title {
text-align:center;
font-size:70px;
        color:rgb(138, 0, 0);
    background-color:rgb(255, 0, 0);
width:100vw;
margin:0;
}
body {
      margin: 0;
  font-size: 1rem;
  background: linear-gradient(to top, #e20000, #000000);
  width:100vw;
  height:100vh;

}
p {
    margin:0;
}
.navbar {
    text-align:center;
    background-color:#4d0000;
    margin:5px;
    font-size:40px;
}
.mainnav {
    text-align:center;
    background-color:#660000;
}
button {
 color:rgb(0, 0, 58);
background-color:#660000;
 font-size:50px;
 margin:0;
 border:0;
font-family:Lucida Handwriting, cursive;
}
button:hover {
 background-color:#850000;
 font-size:60px;
 border-radius:90%;
}
.title2 {
text-align:center;
font-size:60px;
        color:rgb(59, 0, 0);
    background-color:#c40000;
width:100vw;
margin:0; }
h2 {
    text-align:center;
}
h3 {
    text-align:center;
}
textarea {
  background-color: #410000;
  width: 95%;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px;
  color:white;
  text-align:center;
  font-size:40px;
}
/*Cheese Burger*\